<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Viajes Para Ti => Proveedores{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico')}}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
           {# {{ encore_entry_link_tags('app') }} #} 
           <link rel="stylesheet" href="{{asset('css/style.css')}}"/>
        {% endblock %}

        {% block javascripts %}
            {#  {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <body>
        <!-- Header para toda la web -->
        {% block header %}
        <header>
        <img src="{{ asset('img/logo.png') }}" alt="Viajes Para Ti">
        <a  href="{{ path('app_controller_create')}}">Nuevo proveedor</a>
        </header>
        {% endblock %}
        
        {% block body %}
        {% endblock %}

        <!-- Footer para toda la web -->
        {% block footer %}
        <footer>
        <p>Prueba Viajes para Ti || Cristian Fernández 2023 &copy;</p>
        </footer>
        {% endblock %}
    </body>
</html>
